@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WebAppTest - Music</h1>
    <p>Below is a music video of one of my favorite songs - Josie by Blink182.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I6kfin-UeAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <hr id="mid-line" />
</div>
<div id="ani-container">
    <button id="ani-start" onclick="myMove()">Click here to see a basic animation.</button>
</div>
